@model Product
<!DOCTYPE html>
<html>

<body>
    <form asp-action="Store" asp-controller="Products" method="post" enctype="multipart/form-data">
        <div class="my-3">
            <label asp-for="Name" class="form-label">Product Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="my-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="my-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="my-3">
            <label asp-for="Rate" class="form-label"></label>
            <input asp-for ="Rate" class="form-control">
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>
        <div class="my-3">
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" class="form-control" type="file">
            <span  class="text-danger"></span>
        </div>
        <div class="my-3">
            <label asp-for="CategoryId" class="form-label"></label>
           <select  class="form-select" asp-for="CategoryId">
                @foreach (var item in ViewBag.Categories)
                {
               <option value="@item.Id">@item.Name</option>
                }
</select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <button class="btn btn-success mt-3">
            Save
        </button>

    </form>

</body>
</html>
@section  scripts {

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}